#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors/runtime-sensor-rotate.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <300>;
    delay-ms = <0>;
};

&mmv {
    time-to-max-speed-ms = <300>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift / Caps Word";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&caps_word>;
        };

        // Left-hand HRM. Fires only when the next key is on the right half
        // (or in the middle cluster). Prevents same-hand misfires while typing.
        hml: home_row_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-trigger-key-positions = <
                6  7  8  9 10 11 12
               19 20 21 22 23 24 25 26 27
               34 35 36 37 38 39 40 41
               45 46 47
            >;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        // Right-hand HRM. Mirror of hml; fires only when the next key is
        // on the left half (or in the middle cluster).
        hmr: home_row_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-trigger-key-positions = <
                0  1  2  3  4  5  6
               13 14 15 16 17 18 19 20 21
               28 29 30 31 32 33 34 35
               42 43 44
            >;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        rsr_vol: rsr_vol {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <5>;
            cw-binding = <&kp C_VOL_UP>;
            ccw-binding = <&kp C_VOL_DN>;
        };

        rsr_scroll: rsr_scroll {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <5>;
            cw-binding = <&msc SCRL_DOWN>;
            ccw-binding = <&msc SCRL_UP>;
        };

        rsr_trans: rsr_trans {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <0>;
        };
    };

    macros {
        // --- dwm shift-chord macros -----------------------------------------
        m_lock: m_lock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI &kp LSHFT>,
                       <&macro_tap   &kp L>,
                       <&macro_release &kp LSHFT &kp LGUI>;
            wait-ms = <10>;
            tap-ms = <10>;
        };

        m_scrsel: m_scrsel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI &kp LSHFT>,
                       <&macro_tap   &kp S>,
                       <&macro_release &kp LSHFT &kp LGUI>;
            wait-ms = <10>;
            tap-ms = <10>;
        };

        m_scrwin: m_scrwin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI &kp LSHFT>,
                       <&macro_tap   &kp W>,
                       <&macro_release &kp LSHFT &kp LGUI>;
            wait-ms = <10>;
            tap-ms = <10>;
        };

        m_full: m_full {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI &kp LSHFT>,
                       <&macro_tap   &kp F>,
                       <&macro_release &kp LSHFT &kp LGUI>;
            wait-ms = <10>;
            tap-ms = <10>;
        };

        m_zoom: m_zoom {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI &kp LSHFT>,
                       <&macro_tap   &kp RET>,
                       <&macro_release &kp LSHFT &kp LGUI>;
            wait-ms = <10>;
            tap-ms = <10>;
        };

        m_bar: m_bar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI &kp LSHFT>,
                       <&macro_tap   &kp B>,
                       <&macro_release &kp LSHFT &kp LGUI>;
            wait-ms = <10>;
            tap-ms = <10>;
        };

        m_kill: m_kill {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>,
                       <&macro_tap   &kp Q>,
                       <&macro_release &kp LGUI>;
            wait-ms = <10>;
            tap-ms = <10>;
        };

        m_quit: m_quit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI &kp
